<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Openid: {{.userInfo.Openid}}</div>
<div>Nickname: {{.userInfo.Nickname}}</div>
<div>Sex: {{.userInfo.Sex}}</div>
<div>Province: {{.userInfo.Province}}</div>
<div>City: {{.userInfo.City}}</div>
<div>Country: {{.userInfo.Country}}</div>
<div>Headimgurl: {{.userInfo.Headimgurl}}</div>
<div>Privilege: {{.userInfo.Privilege}}</div>
<div>Unionid: {{.userInfo.Unionid}}</div>
<div>Errcode: {{.userInfo.Errcode}}</div>
<div>Errmsg: {{.userInfo.Errmsg}}</div>
</body>
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<script>

</script>
</html>